<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
        <div class="sidebar-brand-icon">
            <img src="assets/rust-logo-blk.svg" width="55px" height="55px">
        </div>
        <div class="sidebar-brand-text" style="padding-right:30px">ruspi.dev</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="index">
            <i class="fas fa-fw fa-home"></i>
            <span>Home</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Warp Examples
    </div>

    <!-- Nav Item - Basics Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBasics" aria-expanded="true" aria-controls="collapseBasics">
            <i class="fas fa-fw fa-thumbs-up"></i>
            <span>Basics</span>
        </a>
        <div id="collapseBasics" class="collapse" aria-labelledby="headingBasics" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Routing:</h6>
                <a class="collapse-item" href="hello-world">Hello World</a>
                <a class="collapse-item" href="complex-set-of-routes">Complex set of routes</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Web-Sockets Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseWebSockets" aria-expanded="true" aria-controls="collapseWebSockets">
            <i class="fas fa-fw fa-network-wired"></i>
            <span>Websockets / SSE</span>
        </a>
        <div id="collapseWebSockets" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Websockets:</h6>
                <a class="collapse-item" href="web-socket-upgrade">WebSocket upgrade</a>
                <a class="collapse-item" href="web-socket-chat-app">WebSocket chat app</a>
                <h6 class="collapse-header">Server side events:</h6>
                <a class="collapse-item" href="sse-basics">SSE Basics</a>
                <a class="collapse-item" href="sss-chat-app">SSE chat app</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Webserver Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseWebserver" aria-expanded="true" aria-controls="collapseWebserver">
            <i class="fas fa-fw fa-server"></i>
            <span>Webserver</span>
        </a>
        <div id="collapseWebserver" class="collapse" aria-labelledby="headingWebserver" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Handlebars:</h6>
                <a class="collapse-item" href="routing-static-files">Static files</a>
                <a class="collapse-item" href="routing-pages">Partials</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Security Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSecurity" aria-expanded="true" aria-controls="collapseSecurity">
            <i class="fas fa-fw fa-lock"></i>
            <span>Security</span>
        </a>
        <div id="collapseSecurity" class="collapse" aria-labelledby="headingSecurity" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">JWT and TLS:</h6>
                <a class="collapse-item" href="jwt">JSON Web Token</a>
                <a class="collapse-item" href="tls">Transport Layer Security</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <!--
    <hr class="sidebar-divider">
    -->

    <!-- Heading -->
    <!--
    <div class="sidebar-heading">
        rusqlite
    </div>
    -->



    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
